:root{
    --font-google: arial, sans-serif;
    --p-font: 1.4rem;
    --secondary-color: rgb(112, 117, 122);
    --secondary-background-color: #f2f2f2;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
p, a{
    font-size: var(--p-font);
    font-family: var(--font-google);
}

.footer-li a, .footer-location p{
    color: var(--secondary-color);
}
.footer-location, .footer-help{
    
    padding: 20px, 30px;
} 
footer{
    padding: 20px 30px;
    background-color: var(--secondary-background-color);
}
